<div class="card animated fadeIn fast mb-0" *ngIf="!loading">
    <div class="card-body">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                <h5 class="card-title mb-3">Revenue Activity</h5>
            </div>
        </div>

        <div>
            <p class="text-muted mb-1">This Period</p>
            <h4>{{ formatCurrency(revenueActivity?.thisWeekTotal ?? 0) }}</h4>
        </div>

        <div class="m-n3">
            <apx-chart
                [series]="areaChartOptions.series"
                [chart]="areaChartOptions.chart"
                [dataLabels]="areaChartOptions.dataLabels"
                [stroke]="areaChartOptions.stroke"
                [colors]="areaChartOptions.colors"
                [legend]="areaChartOptions.legend"
                [fill]="areaChartOptions.fill"
                [yaxis]="areaChartOptions.yaxis"
                [xaxis]="areaChartOptions.xaxis">
            </apx-chart>
        </div>
    </div>
</div>
<app-skelleton-card height="370px"  [contentLines]="6" *ngIf="loading" ></app-skelleton-card>