USE [master]
GO
/****** Object:  Database [chronos-beauty]    Script Date: 2/10/2025 7:09:51 p. m. ******/
CREATE DATABASE [chronos-beauty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chronos-beauty', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\chronos-beauty.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chronos-beauty_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\chronos-beauty_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chronos-beauty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chronos-beauty]
GO
/****** Object:  Schema [Chronos]    Script Date: 2/10/2025 7:09:52 p. m. ******/
CREATE SCHEMA [Chronos]
GO
/****** Object:  Schema [Rbac]    Script Date: 2/10/2025 7:09:52 p. m. ******/
CREATE SCHEMA [Rbac]
GO
/****** Object:  Table [Chronos].[Services]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NULL,
	[CategoryId] [int] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[ServiceDescription] [nvarchar](1000) NULL,
	[DurationMinutes] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Color] [nvarchar](7) NOT NULL,
	[ProcessingTime] [int] NOT NULL,
	[SalonId] [uniqueidentifier] NULL,
	[Type] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Suppliers]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Suppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](200) NULL,
	[BusinessDescription] [nvarchar](1000) NULL,
	[BusinessAddress] [nvarchar](500) NULL,
	[Website] [nvarchar](255) NULL,
	[BusinessEmail] [nvarchar](255) NULL,
	[BusinessPhone] [nvarchar](20) NULL,
	[IsVerified] [bit] NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[TotalReviews] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Chronos].[vw_ActiveProviders]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- CREATE VIEWS FOR COMMON QUERIES
-- =============================================

-- View for active service providers with their services (Chronos schema only)
CREATE VIEW [Chronos].[vw_ActiveProviders] AS
SELECT 
    spp.Id AS ProviderId,
    spp.UserId,
    spp.CompanyName,
    spp.BusinessDescription,
    spp.Rating,
    spp.TotalReviews,
    COUNT(s.Id) AS TotalServices,
    MIN(s.Price) AS MinPrice,
    MAX(s.Price) AS MaxPrice
FROM [Chronos].[Suppliers] spp
    LEFT JOIN [Chronos].[Services] s ON spp.Id = s.ProviderId AND s.IsActive = 1
WHERE spp.IsActive = 1
GROUP BY spp.Id, spp.UserId, spp.CompanyName, 
         spp.BusinessDescription, spp.Rating, spp.TotalReviews;
GO
/****** Object:  Table [Chronos].[Bookings]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ClientNotes] [nvarchar](1000) NULL,
	[ProviderNotes] [nvarchar](1000) NULL,
	[BookingReference] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancellationReason] [nvarchar](500) NULL,
	[BookingDateTime] [datetime2](7) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[SalonId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Chronos].[vw_UpcomingBookings]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for upcoming bookings (Chronos schema only)
CREATE VIEW [Chronos].[vw_UpcomingBookings] AS
SELECT 
    b.Id AS BookingId,
    b.BookingReference,
    b.CustomerId,
    spp.UserId AS ProviderUserId,
    spp.CompanyName,
    b.BookingDate,
    b.StartTime,
    b.EndTime,
    b.TotalPrice,
    b.Status AS BookingStatus
FROM [Chronos].[Bookings] b
    INNER JOIN [Chronos].[Suppliers] spp ON b.SupplierId = spp.Id    
WHERE b.BookingDate >= CAST(GETDATE() AS DATE)
    AND b.Status IN ('Pending', 'Confirmed');
GO
/****** Object:  Table [Chronos].[Categories]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Chronos].[vw_Services]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for services with their categories (Chronos schema only)
CREATE VIEW [Chronos].[vw_Services] AS
SELECT 
    s.Id AS ServiceId,
    s.ServiceName,
    s.ServiceDescription,
    s.DurationMinutes,
    s.Price,
    s.Currency,
    sc.Name AS CategoryName,
    spp.CompanyName AS ProviderName,
    spp.UserId AS ProviderUserId
FROM [Chronos].[Services] s
    INNER JOIN [Chronos].[Categories] sc ON s.CategoryId = sc.Id
    INNER JOIN [Chronos].[Suppliers] spp ON s.ProviderId = spp.Id
WHERE s.IsActive = 1;
GO
/****** Object:  Table [Rbac].[Users]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[StripeAccountId] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[Permissions]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Resource] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[Roles]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsSystemRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[RolePermissions]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[RolePermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
	[GrantedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Rbac].[vw_UserPermissions]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for users with their roles and permissions
CREATE VIEW [Rbac].[vw_UserPermissions] AS
SELECT 
    u.Id AS UserId,
    u.Email,
    u.FirstName + ' ' + u.LastName AS FullName,
    u.UserRole AS LegacyRole,
    r.Id AS RoleId,
    r.Name AS RoleName,
    r.Description AS RoleDescription,
    p.Id AS PermissionId,
    p.Name AS PermissionName,
    p.Resource,
    p.Action,
    rp.GrantedAt
FROM [Rbac].[Users] u
    CROSS JOIN [Rbac].[Roles] r
    INNER JOIN [Rbac].[RolePermissions] rp ON r.Id = rp.RoleId
    INNER JOIN [Rbac].[Permissions] p ON rp.PermissionId = p.Id
WHERE u.IsActive = 1 
    AND r.IsActive = 1 
    AND rp.IsActive = 1 
    AND p.IsActive = 1;
GO
/****** Object:  View [Rbac].[vw_RolePermissions]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for roles with their permissions
CREATE VIEW [Rbac].[vw_RolePermissions] AS
SELECT 
    r.Id AS RoleId,
    r.Name AS RoleName,
    r.Description AS RoleDescription,
    r.IsSystemRole,
    p.Id AS PermissionId,
    p.Name AS PermissionName,
    p.Description AS PermissionDescription,
    p.Resource,
    p.Action,
    rp.GrantedAt,
    u.FirstName + ' ' + u.LastName AS GrantedByUser
FROM [Rbac].[Roles] r
    INNER JOIN [Rbac].[RolePermissions] rp ON r.Id = rp.RoleId
    INNER JOIN [Rbac].[Permissions] p ON rp.PermissionId = p.Id
    LEFT JOIN [Rbac].[Users] u ON rp.GrantedBy = u.Id
WHERE r.IsActive = 1 
    AND rp.IsActive = 1 
    AND p.IsActive = 1;
GO
/****** Object:  Table [Chronos].[AssistantConversation]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[AssistantConversation](
	[Id] [uniqueidentifier] NOT NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[LastMessageId] [nvarchar](200) NULL,
	[BookingBasketId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AssistantConversation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Availability]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Availability](
	[AvailabilityId] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsRecurring] [bit] NOT NULL,
	[EffectiveFromDate] [date] NOT NULL,
	[EffectiveToDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[SupplierId] [uniqueidentifier] NULL,
	[Reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AvailabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[BlockedTimes]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[BlockedTimes](
	[BlockedTimeId] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[BlockedDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlockedTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[BookingService]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[BookingService](
	[BookingId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_BookingService] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Companies]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Companies](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Customers]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PreferredLanguage] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[NotificationLogs]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[NotificationLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NotificationLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Salons]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Salons](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Capacity] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Salons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[ServiceModifiers]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[ServiceModifiers](
	[CustomerId] [uniqueidentifier] NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[ModifiedDurationInMinutes] [int] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NULL,
	[ModifiedPrice] [decimal](10, 2) NOT NULL,
	[ModifiedProcessingTime] [int] NOT NULL,
 CONSTRAINT [PK_ServiceModifiers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/10/2025 7:09:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Chronos].[Availability] ([AvailabilityId], [ProviderId], [DayOfWeek], [StartTime], [EndTime], [IsRecurring], [EffectiveFromDate], [EffectiveToDate], [IsActive], [CreatedAt], [UpdatedAt], [SupplierId], [Reason]) VALUES (N'3a66cf85-6604-4446-a411-26f065a75857', N'70ae2f21-f755-4666-947c-43cb7f152de1', 3, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), N'70ae2f21-f755-4666-947c-43cb7f152de1', N'Horario regular de miércoles')
INSERT [Chronos].[Availability] ([AvailabilityId], [ProviderId], [DayOfWeek], [StartTime], [EndTime], [IsRecurring], [EffectiveFromDate], [EffectiveToDate], [IsActive], [CreatedAt], [UpdatedAt], [SupplierId], [Reason]) VALUES (N'0b7c7eda-2a1b-46c0-a078-285ea0494810', N'70ae2f21-f755-4666-947c-43cb7f152de1', 2, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), N'70ae2f21-f755-4666-947c-43cb7f152de1', N'Horario regular de martes')
INSERT [Chronos].[Availability] ([AvailabilityId], [ProviderId], [DayOfWeek], [StartTime], [EndTime], [IsRecurring], [EffectiveFromDate], [EffectiveToDate], [IsActive], [CreatedAt], [UpdatedAt], [SupplierId], [Reason]) VALUES (N'762a91bd-c882-4311-949d-67067d32d789', N'1ecc510b-3dc3-4367-af81-807437619255', 6, CAST(N'10:00:00' AS Time), CAST(N'20:00:00' AS Time), 1, CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7866667' AS DateTime2), N'1ecc510b-3dc3-4367-af81-807437619255', N'Horario de fin de semana')
GO
INSERT [Chronos].[BlockedTimes] ([BlockedTimeId], [ProviderId], [BlockedDate], [StartTime], [EndTime], [Reason], [IsActive], [CreatedAt]) VALUES (N'40251f42-e254-4e33-9805-08116913fb34', N'70ae2f21-f755-4666-947c-43cb7f152de1', CAST(N'2024-12-30' AS Date), CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time), N'Reunión de equipo', 1, CAST(N'2025-08-13T15:38:43.7900000' AS DateTime2))
INSERT [Chronos].[BlockedTimes] ([BlockedTimeId], [ProviderId], [BlockedDate], [StartTime], [EndTime], [Reason], [IsActive], [CreatedAt]) VALUES (N'ea0412dc-88ef-41c3-91b4-62be55ff5ec5', N'bf38ab83-88f5-4ba6-9ea7-5a33d85f4672', CAST(N'2024-12-28' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Mantenimiento de equipos', 1, CAST(N'2025-08-13T15:38:43.7900000' AS DateTime2))
INSERT [Chronos].[BlockedTimes] ([BlockedTimeId], [ProviderId], [BlockedDate], [StartTime], [EndTime], [Reason], [IsActive], [CreatedAt]) VALUES (N'a7bce01f-6642-4b7d-9215-66a7dd0f1796', N'70ae2f21-f755-4666-947c-43cb7f152de1', CAST(N'2024-12-25' AS Date), CAST(N'00:00:00' AS Time), CAST(N'23:59:59' AS Time), N'Navidad - Cerrado todo el día', 1, CAST(N'2025-08-13T15:38:43.7900000' AS DateTime2))
GO
INSERT [Chronos].[BookingService] ([BookingId], [ServiceId], [Order]) VALUES (N'f3eeba7e-b912-4ba8-9a44-0763dcf23ac2', N'6778706f-a306-4c68-beae-74ea88b6ad9d', 0)
INSERT [Chronos].[BookingService] ([BookingId], [ServiceId], [Order]) VALUES (N'f3eeba7e-b912-4ba8-9a44-0763dcf23ac2', N'48a78d90-27bc-42e1-be4e-ca1fe2c42118', 1)
INSERT [Chronos].[BookingService] ([BookingId], [ServiceId], [Order]) VALUES (N'd3218156-8510-4c05-9ede-12ac8117b907', N'41808daf-dc5f-4822-8514-52a44cccdb81', 0)
GO
SET IDENTITY_INSERT [Chronos].[Categories] ON 

INSERT [Chronos].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Haircut', N'Haircuts and styling services for all hair types', 1, CAST(N'2025-08-13T15:38:43.7600000' AS DateTime2))
INSERT [Chronos].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Coloring', N'Hair dye, highlights, and coloring services', 1, CAST(N'2025-08-13T15:38:43.7600000' AS DateTime2))
INSERT [Chronos].[Categories] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Skin Care', N'Beauty and facial treatments', 1, CAST(N'2025-08-13T15:38:43.7600000' AS DateTime2))
SET IDENTITY_INSERT [Chronos].[Categories] OFF
GO
INSERT [Chronos].[Companies] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (N'85be9ea1-6980-42a7-bfe2-4c1da6da6e9f', N'Chronos Beauty', N'Chronos Beauty', 1, CAST(N'2019-09-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [Chronos].[Customers] ([Id], [UserId], [PreferredLanguage], [IsActive], [CreatedAt], [UpdatedAt], [Email], [FirstName], [LastName], [Notes], [PhoneNumber]) VALUES (N'4f8b7afc-ca83-4e19-a281-129d0b54fa2f', N'ad906a7b-d316-4ff8-bc82-e9ee831f1945', N'ES', 1, CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), N'carmen.jimenez@email.com', N'Carmen', N'Jiménez', N'Cliente habitual de manicura', N'+34690123456')
INSERT [Chronos].[Customers] ([Id], [UserId], [PreferredLanguage], [IsActive], [CreatedAt], [UpdatedAt], [Email], [FirstName], [LastName], [Notes], [PhoneNumber]) VALUES (N'811c4c9e-6845-40b0-bf33-428470f3ca14', N'5ad247c1-6664-41c8-991e-c6639611acb9', N'ES', 1, CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), CAST(N'2025-09-08T21:26:40.4163395' AS DateTime2), N'elena.garcia@email.com', N'Elena', N'García', N'Le gusta probar nuevos tratamientos', N'+34678901234')
INSERT [Chronos].[Customers] ([Id], [UserId], [PreferredLanguage], [IsActive], [CreatedAt], [UpdatedAt], [Email], [FirstName], [LastName], [Notes], [PhoneNumber]) VALUES (N'b9a695a2-072b-4cbf-a20e-6d3f55ccc4ba', N'7b4ca54f-a423-4112-be7e-ab1c4a165959', N'ES', 1, CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), N'lucia.fernandez@email.com', N'Lucía', N'Fernández', N'Alérgica a ciertos productos químicos', N'+34656789012')
GO
INSERT [Chronos].[NotificationLogs] ([Id], [CustomerId], [BookingId], [Type], [Created]) VALUES (N'0ab899b8-848a-40f0-a831-08ddde8dada0', N'4f8b7afc-ca83-4e19-a281-129d0b54fa2f', N'60df6cd2-a7cb-4a63-b83d-d4e893cbfa34', N'TwoHourReminder', CAST(N'2025-08-18T19:30:24.0491870' AS DateTime2))
INSERT [Chronos].[NotificationLogs] ([Id], [CustomerId], [BookingId], [Type], [Created]) VALUES (N'e0d3023e-9b7c-4f89-a1c7-08dde0bb04ea', N'811c4c9e-6845-40b0-bf33-428470f3ca14', N'4627cd4b-6eb0-4a29-814e-fe2aef9dd0e5', N'DailyReminder', CAST(N'2025-08-21T14:00:00.2141357' AS DateTime2))
INSERT [Chronos].[NotificationLogs] ([Id], [CustomerId], [BookingId], [Type], [Created]) VALUES (N'4dfa3773-4609-40cb-a1c8-08dde0bb04ea', N'b9a695a2-072b-4cbf-a20e-6d3f55ccc4ba', N'657cfe1a-37b0-44cd-85e4-602525705ce9', N'TwoHourReminder', CAST(N'2025-08-21T15:00:00.1756290' AS DateTime2))
GO
INSERT [Chronos].[Salons] ([Id], [CompanyId], [Name], [Description], [Capacity], [Address], [City], [State], [Country], [ZipCode], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'07c3fea6-9326-45cf-b97b-c29b92e5437e', N'85be9ea1-6980-42a7-bfe2-4c1da6da6e9f', N'Chronos Nort Point', N'Chronos Nort Point', 40, N'West Addison Street, Wrigley Field, 1060', N'Chicago', N'IL', N'United States', N'60613', 1, CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2))
INSERT [Chronos].[Salons] ([Id], [CompanyId], [Name], [Description], [Capacity], [Address], [City], [State], [Country], [ZipCode], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'790eceaa-2d87-4b8a-9594-f21d82f0799f', N'85be9ea1-6980-42a7-bfe2-4c1da6da6e9f', N'Chronos Central Park', N'Chronos Central Park', 35, N'360 Chicago Observation Deck, Michigan Ave, 900', N'Chicago', N'IL', N'United States', N'60611', 1, CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [Chronos].[Services] ([Id], [ProviderId], [CategoryId], [ServiceName], [ServiceDescription], [DurationMinutes], [Price], [Currency], [IsActive], [CreatedAt], [UpdatedAt], [Color], [ProcessingTime], [SalonId], [Type]) VALUES (N'5e6321c3-a751-4a5e-b4b1-06520fb6800b', NULL, 3, N'Chemical Peel', N'Chemical exfoliation for cell renewal', 60, CAST(80.00 AS Decimal(10, 2)), N'USD', 1, CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), N'#FF7675', 20, N'07c3fea6-9326-45cf-b97b-c29b92e5437e', N'config')
INSERT [Chronos].[Services] ([Id], [ProviderId], [CategoryId], [ServiceName], [ServiceDescription], [DurationMinutes], [Price], [Currency], [IsActive], [CreatedAt], [UpdatedAt], [Color], [ProcessingTime], [SalonId], [Type]) VALUES (N'93b9aa11-cc2c-4b42-afad-08135ff8938a', NULL, 4, N'Gel Manicure', N'Full manicure with UV gel polish', 75, CAST(30.00 AS Decimal(10, 2)), N'USD', 1, CAST(N'2025-08-13T15:38:43.7633333' AS DateTime2), CAST(N'2025-09-01T20:38:04.1073970' AS DateTime2), N'#DDA0DD', 10, N'07c3fea6-9326-45cf-b97b-c29b92e5437e', N'config')
INSERT [Chronos].[Services] ([Id], [ProviderId], [CategoryId], [ServiceName], [ServiceDescription], [DurationMinutes], [Price], [Currency], [IsActive], [CreatedAt], [UpdatedAt], [Color], [ProcessingTime], [SalonId], [Type]) VALUES (N'17dc7923-830c-4db6-aadd-1a95afe10880', N'5ad247c1-6664-41c8-991e-c6639611acb9', 2, N'Balayage Highlights', N'Balayage natural highlights technique', 180, CAST(120.00 AS Decimal(10, 2)), N'USD', 1, CAST(N'2025-09-05T22:23:00.4599323' AS DateTime2), CAST(N'2025-09-05T22:23:00.4600362' AS DateTime2), N'#A29BFE', 30, NULL, N'service')
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250612215336_InitialMigration', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250612215641_RemoveColorFromService', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250612220128_AddColorToService', N'9.0.6')
GO
SET IDENTITY_INSERT [Rbac].[Permissions] ON 

INSERT [Rbac].[Permissions] ([Id], [Name], [Description], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'booking.create', N'
Create new reservations', N'booking', N'create', 1, CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2))
INSERT [Rbac].[Permissions] ([Id], [Name], [Description], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'booking.read', N'View existing reservations', N'booking', N'read', 1, CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2))
INSERT [Rbac].[Permissions] ([Id], [Name], [Description], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'booking.update', N'Modify reservations', N'booking', N'update', 1, CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2))
INSERT [Rbac].[Permissions] ([Id], [Name], [Description], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (4, N'booking.delete', N'Delete reservations', N'booking', N'delete', 1, CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2), CAST(N'2025-08-13T15:38:43.7566667' AS DateTime2))
SET IDENTITY_INSERT [Rbac].[Permissions] OFF
GO
SET IDENTITY_INSERT [Rbac].[RolePermissions] ON 

INSERT [Rbac].[RolePermissions] ([Id], [RoleId], [PermissionId], [GrantedAt], [GrantedBy], [IsActive]) VALUES (1, 2, 1, CAST(N'2025-08-13T15:38:43.8200000' AS DateTime2), N'7c031ccd-0bba-4197-9f64-a33577231640', 1)
INSERT [Rbac].[RolePermissions] ([Id], [RoleId], [PermissionId], [GrantedAt], [GrantedBy], [IsActive]) VALUES (2, 2, 2, CAST(N'2025-08-13T15:38:43.8200000' AS DateTime2), N'7c031ccd-0bba-4197-9f64-a33577231640', 1)
INSERT [Rbac].[RolePermissions] ([Id], [RoleId], [PermissionId], [GrantedAt], [GrantedBy], [IsActive]) VALUES (3, 2, 3, CAST(N'2025-08-13T15:38:43.8200000' AS DateTime2), N'7c031ccd-0bba-4197-9f64-a33577231640', 1)
GO
SET IDENTITY_INSERT [Rbac].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [Rbac].[Roles] ON 

INSERT [Rbac].[Roles] ([Id], [Name], [Description], [IsSystemRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'SuperAdmin', N'System Administrator with full access', 1, 1, CAST(N'2025-08-13T15:38:43.7533333' AS DateTime2), CAST(N'2025-09-08T20:12:48.1529874' AS DateTime2))
INSERT [Rbac].[Roles] ([Id], [Name], [Description], [IsSystemRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Admin', N'Administrator with management permissions', 1, 1, CAST(N'2025-08-13T15:38:43.7533333' AS DateTime2), CAST(N'2025-08-13T15:38:43.7533333' AS DateTime2))
INSERT [Rbac].[Roles] ([Id], [Name], [Description], [IsSystemRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Manager', N'Beauty Service Manager', 0, 1, CAST(N'2025-08-13T15:38:43.7533333' AS DateTime2), CAST(N'2025-09-05T23:39:34.1884909' AS DateTime2))
SET IDENTITY_INSERT [Rbac].[Roles] OFF
GO
INSERT [Rbac].[Users] ([Id], [Email], [PasswordHash], [UserRole], [FirstName], [LastName], [Phone], [IsActive], [CreatedAt], [UpdatedAt], [LastLoginAt], [StripeAccountId], [Photo], [RoleId]) VALUES (N'72c92b4a-6322-4823-bde6-5c676458e0a6', N'carlos.rodriguez@email.com', N'$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewvCxh1HyugOe5H.', N'ServiceProvider', N'Carlos', N'Rodríguez', N'634567890', 1, CAST(N'2025-08-13T15:38:43.7600000' AS DateTime2), CAST(N'2025-08-21T21:40:32.9285690' AS DateTime2), CAST(N'2025-08-13T15:38:43.7600000' AS DateTime2), NULL, N'', 7)
GO
/****** Object:  Index [IX_AssistantConversation_BookingBasketId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AssistantConversation_BookingBasketId] ON [Chronos].[AssistantConversation]
(
	[BookingBasketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssistantConversation_Id]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AssistantConversation_Id] ON [Chronos].[AssistantConversation]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Chronos_Availability_ProviderDayTime]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Chronos].[Availability] ADD  CONSTRAINT [UQ_Chronos_Availability_ProviderDayTime] UNIQUE NONCLUSTERED 
(
	[ProviderId] ASC,
	[DayOfWeek] ASC,
	[StartTime] ASC,
	[EndTime] ASC,
	[EffectiveFromDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Availability_SupplierId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Availability_SupplierId] ON [Chronos].[Availability]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Availability_EffectiveDates]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Availability_EffectiveDates] ON [Chronos].[Availability]
(
	[EffectiveFromDate] ASC,
	[EffectiveToDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Availability_ProviderId_DayOfWeek]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Availability_ProviderId_DayOfWeek] ON [Chronos].[Availability]
(
	[ProviderId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_BlockedTimes_ProviderDateTime]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_BlockedTimes_ProviderDateTime] ON [Chronos].[BlockedTimes]
(
	[ProviderId] ASC,
	[BlockedDate] ASC,
	[StartTime] ASC,
	[EndTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_SalonId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_SalonId] ON [Chronos].[Bookings]
(
	[SalonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Bookings_BookingDate]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Bookings_BookingDate] ON [Chronos].[Bookings]
(
	[BookingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Bookings_CustomerId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Bookings_CustomerId] ON [Chronos].[Bookings]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Chronos_Bookings_Status]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Bookings_Status] ON [Chronos].[Bookings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Bookings_SupplierDateTime]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Bookings_SupplierDateTime] ON [Chronos].[Bookings]
(
	[SupplierId] ASC,
	[BookingDate] ASC,
	[StartTime] ASC,
	[EndTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Bookings_SupplierId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Bookings_SupplierId] ON [Chronos].[Bookings]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookingService_ServiceId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BookingService_ServiceId] ON [Chronos].[BookingService]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F64CE28A52]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Chronos].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationLogs_BookingId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_NotificationLogs_BookingId] ON [Chronos].[NotificationLogs]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationLogs_CustomerId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_NotificationLogs_CustomerId] ON [Chronos].[NotificationLogs]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salons_CompanyId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Salons_CompanyId] ON [Chronos].[Salons]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Salons_Name]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Salons_Name] ON [Chronos].[Salons]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceModifiers_BookingId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ServiceModifiers_BookingId] ON [Chronos].[ServiceModifiers]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceModifiers_CustomerId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ServiceModifiers_CustomerId] ON [Chronos].[ServiceModifiers]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceModifiers_ServiceId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ServiceModifiers_ServiceId] ON [Chronos].[ServiceModifiers]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Services_CategoryId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Services_CategoryId] ON [Chronos].[Services]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Services_Price]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Services_Price] ON [Chronos].[Services]
(
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_SalonId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Services_SalonId] ON [Chronos].[Services]
(
	[SalonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Chronos_Suppliers_UserId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Chronos].[Suppliers] ADD  CONSTRAINT [UQ_Chronos_Suppliers_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Suppliers_IsVerified]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Suppliers_IsVerified] ON [Chronos].[Suppliers]
(
	[IsVerified] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Suppliers_Rating]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Suppliers_Rating] ON [Chronos].[Suppliers]
(
	[Rating] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chronos_Suppliers_UserId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Chronos_Suppliers_UserId] ON [Chronos].[Suppliers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__737584F624D1AD08]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Rbac].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Permissions_Action]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Permissions_Action] ON [Rbac].[Permissions]
(
	[Action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_Permissions_IsActive]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Permissions_IsActive] ON [Rbac].[Permissions]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Permissions_Name]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Permissions_Name] ON [Rbac].[Permissions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Permissions_Resource]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Permissions_Resource] ON [Rbac].[Permissions]
(
	[Resource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Rbac_RolePermissions_RolePermission]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Rbac].[RolePermissions] ADD  CONSTRAINT [UQ_Rbac_RolePermissions_RolePermission] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_RolePermissions_IsActive]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_RolePermissions_IsActive] ON [Rbac].[RolePermissions]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_RolePermissions_PermissionId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_RolePermissions_PermissionId] ON [Rbac].[RolePermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_RolePermissions_RoleId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_RolePermissions_RoleId] ON [Rbac].[RolePermissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6ACFD5AD0]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Rbac].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_Roles_IsActive]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Roles_IsActive] ON [Rbac].[Roles]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rbac_Roles_IsSystemRole]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Roles_IsSystemRole] ON [Rbac].[Roles]
(
	[IsSystemRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Roles_Name]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Roles_Name] ON [Rbac].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FBD1991E]    Script Date: 2/10/2025 7:09:53 p. m. ******/
ALTER TABLE [Rbac].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Users_Email]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Users_Email] ON [Rbac].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rbac_Users_UserRole]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rbac_Users_UserRole] ON [Rbac].[Users]
(
	[UserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 2/10/2025 7:09:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [Rbac].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (newid()) FOR [AvailabilityId]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT ((1)) FOR [IsRecurring]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT (newid()) FOR [BlockedTimeId]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [BookingDateTime]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [Chronos].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Categories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT ('EN') FOR [PreferredLanguage]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [Chronos].[ServiceModifiers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Id]
GO
ALTER TABLE [Chronos].[ServiceModifiers] ADD  DEFAULT ((0.0)) FOR [ModifiedPrice]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (N'') FOR [Color]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ((0)) FOR [ProcessingTime]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (N'') FOR [Type]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0.00)) FOR [Rating]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[RolePermissions] ADD  DEFAULT (getutcdate()) FOR [GrantedAt]
GO
ALTER TABLE [Rbac].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT ((0)) FOR [IsSystemRole]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[AssistantConversation]  WITH CHECK ADD  CONSTRAINT [FK_AssistantConversation_Bookings_BookingBasketId] FOREIGN KEY([BookingBasketId])
REFERENCES [Chronos].[Bookings] ([Id])
GO
ALTER TABLE [Chronos].[AssistantConversation] CHECK CONSTRAINT [FK_AssistantConversation_Bookings_BookingBasketId]
GO
ALTER TABLE [Chronos].[Availability]  WITH CHECK ADD  CONSTRAINT [FK_Availability_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [Chronos].[Suppliers] ([Id])
GO
ALTER TABLE [Chronos].[Availability] CHECK CONSTRAINT [FK_Availability_Suppliers_SupplierId]
GO
ALTER TABLE [Chronos].[BlockedTimes]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_BlockedTimes_Suppliers] FOREIGN KEY([ProviderId])
REFERENCES [Chronos].[Suppliers] ([Id])
GO
ALTER TABLE [Chronos].[BlockedTimes] CHECK CONSTRAINT [FK_Chronos_BlockedTimes_Suppliers]
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Salons_SalonId] FOREIGN KEY([SalonId])
REFERENCES [Chronos].[Salons] ([Id])
GO
ALTER TABLE [Chronos].[Bookings] CHECK CONSTRAINT [FK_Bookings_Salons_SalonId]
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_Bookings_Customers] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
GO
ALTER TABLE [Chronos].[Bookings] CHECK CONSTRAINT [FK_Chronos_Bookings_Customers]
GO
ALTER TABLE [Chronos].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[BookingService] CHECK CONSTRAINT [FK_BookingService_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [Chronos].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[BookingService] CHECK CONSTRAINT [FK_BookingService_Services_ServiceId]
GO
ALTER TABLE [Chronos].[NotificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_NotificationLogs_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[NotificationLogs] CHECK CONSTRAINT [FK_NotificationLogs_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[NotificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_NotificationLogs_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[NotificationLogs] CHECK CONSTRAINT [FK_NotificationLogs_Customers_CustomerId]
GO
ALTER TABLE [Chronos].[Salons]  WITH CHECK ADD  CONSTRAINT [FK_Salons_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [Chronos].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[Salons] CHECK CONSTRAINT [FK_Salons_Companies_CompanyId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Customers_CustomerId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [Chronos].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Services_ServiceId]
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_Services_Categories] FOREIGN KEY([CategoryId])
REFERENCES [Chronos].[Categories] ([Id])
GO
ALTER TABLE [Chronos].[Services] CHECK CONSTRAINT [FK_Chronos_Services_Categories]
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Salons_SalonId] FOREIGN KEY([SalonId])
REFERENCES [Chronos].[Salons] ([Id])
GO
ALTER TABLE [Chronos].[Services] CHECK CONSTRAINT [FK_Services_Salons_SalonId]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_GrantedBy] FOREIGN KEY([GrantedBy])
REFERENCES [Rbac].[Users] ([Id])
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_GrantedBy]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [Rbac].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_Permissions]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [Rbac].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_Roles]
GO
ALTER TABLE [Rbac].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Rbac].[Roles] ([Id])
GO
ALTER TABLE [Rbac].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [Chronos].[Availability]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_Availability_TimeRange] CHECK  (([EndTime]>=[StartTime]))
GO
ALTER TABLE [Chronos].[Availability] CHECK CONSTRAINT [CK_Chronos_Availability_TimeRange]
GO
ALTER TABLE [Chronos].[BlockedTimes]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_BlockedTimes_TimeRange] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [Chronos].[BlockedTimes] CHECK CONSTRAINT [CK_Chronos_BlockedTimes_TimeRange]
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_Bookings_Status] CHECK  (([Status]='Rescheduled' OR [Status]='NoShow' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [Chronos].[Bookings] CHECK CONSTRAINT [CK_Chronos_Bookings_Status]
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [Chronos].[Suppliers]  WITH CHECK ADD CHECK  (([Rating]>=(0.00) AND [Rating]<=(5.00)))
GO
ALTER TABLE [Rbac].[Users]  WITH CHECK ADD CHECK  (([UserRole]='ServiceProvider' OR [UserRole]='Client'))
GO
/****** Object:  StoredProcedure [Chronos].[sp_CheckProviderAvailability]    Script Date: 2/10/2025 7:09:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- CREATE STORED PROCEDURES FOR COMMON OPERATIONS
-- =============================================

-- Procedure to check provider availability for booking
CREATE PROCEDURE [Chronos].[sp_CheckProviderAvailability]
    @SupplierId UNIQUEIDENTIFIER,
    @BookingDate DATE,
    @StartTime TIME,
    @EndTime TIME
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DayOfWeek INT = DATEPART(WEEKDAY, @BookingDate);
    
    -- Check if provider has general availability for this day and time
    DECLARE @HasAvailability BIT = 0;
    
    SELECT @HasAvailability = 1
    FROM [Chronos].[Availability]
    WHERE ProviderId = @SupplierId
        AND DayOfWeek = @DayOfWeek
        AND StartTime <= @StartTime
        AND EndTime >= @EndTime
        AND IsActive = 1
        AND (@BookingDate >= EffectiveFromDate)
        AND (EffectiveToDate IS NULL OR @BookingDate <= EffectiveToDate);
    
    -- Check for conflicting bookings
    DECLARE @HasConflict BIT = 0;
    
    SELECT @HasConflict = 1
    FROM [Chronos].[Bookings]
    WHERE SupplierId = @SupplierId
        AND BookingDate = @BookingDate
        AND Status NOT IN ('Cancelled', 'NoShow')
        AND (
            (@StartTime >= StartTime AND @StartTime < EndTime) OR
            (@EndTime > StartTime AND @EndTime <= EndTime) OR
            (@StartTime <= StartTime AND @EndTime >= EndTime)
        );
    
    -- Check for blocked times
    DECLARE @IsBlocked BIT = 0;
    
    SELECT @IsBlocked = 1
    FROM [Chronos].[BlockedTimes]
    WHERE ProviderId = @SupplierId
        AND BlockedDate = @BookingDate
        AND IsActive = 1
        AND (
            (@StartTime >= StartTime AND @StartTime < EndTime) OR
            (@EndTime > StartTime AND @EndTime <= EndTime) OR
            (@StartTime <= StartTime AND @EndTime >= EndTime)
        );
    
    -- Return availability status
    SELECT 
        CASE 
            WHEN @HasAvailability = 1 AND @HasConflict = 0 AND @IsBlocked = 0 THEN 1
            ELSE 0
        END AS IsAvailable,
        @HasAvailability AS HasGeneralAvailability,
        @HasConflict AS HasConflictingBooking,
        @IsBlocked AS IsTimeBlocked;
END;
GO
/****** Object:  StoredProcedure [Chronos].[sp_CreateBooking]    Script Date: 2/10/2025 7:09:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to create a new booking
CREATE PROCEDURE [Chronos].[sp_CreateBooking]
    @CustomerId UNIQUEIDENTIFIER,
    @SupplierId UNIQUEIDENTIFIER,
    @ServiceId UNIQUEIDENTIFIER,
    @BookingDate DATE,
    @StartTime TIME,
    @EndTime TIME,
    @ClientNotes NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validate that customer exists
    IF NOT EXISTS (SELECT 1 FROM [Chronos].[Customers] WHERE Id = @CustomerId AND IsActive = 1)
    BEGIN
        RAISERROR('Customer not found or inactive', 16, 1);
        RETURN;
    END
    
    -- Validate that supplier exists
    IF NOT EXISTS (SELECT 1 FROM [Chronos].[Suppliers] WHERE Id = @SupplierId AND IsActive = 1)
    BEGIN
        RAISERROR('Supplier not found or inactive', 16, 1);
        RETURN;
    END
    
    -- Validate that service exists and belongs to the supplier
    IF NOT EXISTS (SELECT 1 FROM [Chronos].[Services] WHERE Id = @ServiceId AND ProviderId = @SupplierId AND IsActive = 1)
    BEGIN
        RAISERROR('Service not found, inactive, or does not belong to the specified supplier', 16, 1);
        RETURN;
    END
    
    -- Get service details
    DECLARE @DurationMinutes INT, @Price DECIMAL(10,2), @Currency NVARCHAR(3);
    SELECT @DurationMinutes = DurationMinutes, @Price = Price, @Currency = Currency
    FROM [Chronos].[Services] 
    WHERE Id = @ServiceId;
    
    -- Check availability
    DECLARE @IsAvailable BIT;
    EXEC [Chronos].[sp_CheckProviderAvailability] @SupplierId, @BookingDate, @StartTime, @EndTime;
    
    -- Create booking
    DECLARE @BookingId UNIQUEIDENTIFIER = NEWID();
    DECLARE @BookingReference NVARCHAR(50) = 'BK' + FORMAT(GETDATE(), 'yyyyMMdd') + RIGHT('000000' + CAST(ABS(CHECKSUM(@BookingId)) % 1000000 AS VARCHAR), 6);
    
    INSERT INTO [Chronos].[Bookings] (
        Id, CustomerId, SupplierId, BookingDate, StartTime, EndTime,
        DurationMinutes, TotalPrice, Currency, Status, ClientNotes, BookingReference
    )
    VALUES (
        @BookingId, @CustomerId, @SupplierId, @BookingDate, @StartTime, @EndTime,
        @DurationMinutes, @Price, @Currency, 'Pending', @ClientNotes, @BookingReference
    );
    
    SELECT 
        @BookingId AS BookingId,
        @BookingReference AS BookingReference,
        'Booking created successfully' AS Result;
END;
GO
/****** Object:  StoredProcedure [Chronos].[sp_CreateOrUpdateCustomer]    Script Date: 2/10/2025 7:09:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to create or update customer profile
CREATE PROCEDURE [Chronos].[sp_CreateOrUpdateCustomer]
    @UserId UNIQUEIDENTIFIER,
    @DateOfBirth DATE = NULL,
    @Gender NVARCHAR(20) = NULL,
    @PreferredLanguage NVARCHAR(10) = 'EN',
    @Address NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CustomerId UNIQUEIDENTIFIER;
    
    -- Check if customer already exists for this user
    SELECT @CustomerId = Id FROM [Chronos].[Customers] WHERE UserId = @UserId;
    
    IF @CustomerId IS NOT NULL
    BEGIN
        -- Update existing customer
        UPDATE [Chronos].[Customers]
        SET PreferredLanguage = @PreferredLanguage,            
            UpdatedAt = GETUTCDATE()
        WHERE Id = @CustomerId;
        
        SELECT @CustomerId AS CustomerId, 'Customer updated successfully' AS Result;
    END
    ELSE
    BEGIN
        -- Create new customer
        SET @CustomerId = NEWID();
        
        INSERT INTO [Chronos].[Customers] (
            Id, UserId,PreferredLanguage
        )
        VALUES (
            @CustomerId, @UserId, @PreferredLanguage
        );
        
        SELECT @CustomerId AS CustomerId, 'Customer created successfully' AS Result;
    END
END;
GO
/****** Object:  StoredProcedure [Chronos].[sp_CreateOrUpdateSupplier]    Script Date: 2/10/2025 7:09:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to create or update supplier profile
CREATE PROCEDURE [Chronos].[sp_CreateOrUpdateSupplier]
    @UserId UNIQUEIDENTIFIER,
    @CompanyName NVARCHAR(200),
    @BusinessDescription NVARCHAR(1000),
    @BusinessAddress NVARCHAR(500) = NULL,
    @Website NVARCHAR(255) = NULL,
    @BusinessEmail NVARCHAR(255) = NULL,
    @BusinessPhone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SupplierId UNIQUEIDENTIFIER;
    
    -- Check if supplier already exists for this user
    SELECT @SupplierId = Id FROM [Chronos].[Suppliers] WHERE UserId = @UserId;
    
    IF @SupplierId IS NOT NULL
    BEGIN
        -- Update existing supplier
        UPDATE [Chronos].[Suppliers]
        SET CompanyName = @CompanyName,
            BusinessDescription = @BusinessDescription,
            BusinessAddress = @BusinessAddress,
            Website = @Website,
            BusinessEmail = @BusinessEmail,
            BusinessPhone = @BusinessPhone,
            UpdatedAt = GETUTCDATE()
        WHERE Id = @SupplierId;
        
        SELECT @SupplierId AS SupplierId, 'Supplier updated successfully' AS Result;
    END
    ELSE
    BEGIN
        -- Create new supplier
        SET @SupplierId = NEWID();
        
        INSERT INTO [Chronos].[Suppliers] (
            Id, UserId, CompanyName, BusinessDescription, BusinessAddress, Website, BusinessEmail, BusinessPhone
        )
        VALUES (
            @SupplierId, @UserId, @CompanyName, @BusinessDescription, @BusinessAddress, @Website, @BusinessEmail, @BusinessPhone
        );
        
        SELECT @SupplierId AS SupplierId, 'Supplier created successfully' AS Result;
    END
END;
GO
/****** Object:  StoredProcedure [Rbac].[sp_CheckUserPermission]    Script Date: 2/10/2025 7:09:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to check if user has specific permission
CREATE PROCEDURE [Rbac].[sp_CheckUserPermission]
    @UserId UNIQUEIDENTIFIER,
    @Resource NVARCHAR(100),
    @Action NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @HasPermission BIT = 0;
    
    -- Check if user has the permission through their role based on email
    -- This is a simplified version without UserRoles table
    SELECT @HasPermission = 1
    FROM [Rbac].[Users] u
        INNER JOIN [Rbac].[RolePermissions] rp ON 1=1 -- This would need proper role assignment logic
        INNER JOIN [Rbac].[Permissions] p ON rp.PermissionId = p.Id
    WHERE u.Id = @UserId
        AND p.Resource = @Resource
        AND p.Action = @Action
        AND rp.IsActive = 1
        AND p.IsActive = 1;
    
    SELECT 
        @HasPermission AS HasPermission,
        @Resource AS Resource,
        @Action AS Action,
        @UserId AS UserId;
END;
GO
USE [master]
GO
