.table-container {
    width: 100%;
    max-height: 355px;
    overflow-y: scroll;
}

table {
    width: 100%;
    // border-collapse: collapse;
    font-size: 14px !important;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
