<div class="card-body">
    <div class="row mb-3">
        <div class="col-md-6">
            <br>
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
        </div>
        <div class="col-md-6">
            <br>
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <ngx-skeleton-loader [count]="10" [theme]="{ 'border-radius': '10', height: '15px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
        </div>
    </div>
</div>