<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card animated fadeIn fast">                    
                    <div class="card-header card-header-form">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="d-flex flex-wrap gap-2 justify-content-start align-items-center h-100">
                                    <button (click)="return()" type="button" class="btn btn-light w-sm bg-gradient waves-effect waves-light">
                                        <i class="bx bx-arrow-back me-1"></i> Return
                                    </button>
                                    <h4 class="card-title mb-0">
                                        <i class="bx bx-id-card text-muted font-size-18 me-2"></i> 
                                        {{titleComponent}}
                                        <span *ngIf="currentRol.name" class="text-muted"> - {{currentRol.name}}</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex flex-wrap gap-2 justify-content-end align-items-end h-100">
                                    <button *ngIf="!currentRol.isSystemRole" (click)="update()" type="button" class="btn btn-primary w-sm bg-gradient waves-effect waves-light">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div *ngIf="loading" class="text-center py-4 animated fadeIn fast">
                            <app-skelleton-rol></app-skelleton-rol>
                        </div>

                        <div *ngIf="!loading" class="animated fadeIn fast">
                            <form novalidate="novalidate" class="mb-2" [formGroup]="form">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <div class="form-control-plaintext border rounded p-2 bg-white">
                                                {{currentRol.name || 'N/A'}}
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6 col-sm-12">                                    
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <div class="form-control-plaintext border rounded p-2 bg-white">
                                                {{currentRol.description || 'N/A'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="mb-3">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Permissions</label>
                                                    </div>     
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-sm m-0">
                                                    <thead>
                                                        <tr class="table-light">
                                                            <th>Name</th>
                                                            <th>Resource</th>
                                                            <th>Description</th>
                                                         
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!loading">
                                                        <tr *ngFor="let permission of permissions.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
                                                            <td>{{permission.name}}</td>
                                                            <td>{{permission.resource}}</td>
                                                            <td>{{permission.description}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <mat-paginator class="paginator" 
                                                    #paginator
                                                    *ngIf="showPaginate && permissions.length > pageSize" 
                                                    [length]="totalItems" 
                                                    [pageSize]="pageSize"
                                                    [showFirstLastButtons]="true" 
                                                    [pageSizeOptions]="maxItems"
                                                    [pageIndex]="pageIndex"
                                                    (page)="changePage($event)">
                                                </mat-paginator>
                                                <div *ngIf="permissions.length == 0" class="card border-square-top mb-1 border-light">
                                                    <div class="card-body text-center">
                                                        <h1 class="display-3">
                                                            <small class="text-muted"><i class="bx bx-key"></i></small>
                                                        </h1>
                                                        <h6 class="card-title">
                                                            No permissions assigned
                                                        </h6>
                                                        <h6 class="card-title">
                                                            <small class="text-muted" >
                                                                Click on "Manage Permissions" to add permissions to the rol
                                                            </small>
                                                            <small class="text-muted" >
                                                                The permissions of this rol are managed by the system
                                                            </small>
                                                        </h6>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>