.card {
  transition: all 0.2s ease-in-out;
  
  &.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-2px);
  }
}

.transition-all {
  transition: all 0.2s ease-in-out;
}
