<div class="calend-header" id="calendar-header">
    <div class="page-content" style="padding-top: 16px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2">
                    <h2 class="mb-0 mt-2">{{dateNow | date:'MMMM, yyyy'}}</h2>
                </div>
                <div class="col-xl-2">
                    <app-select-image
                        *ngIf="!loading"
                        [options]="serviceOptions"
                        [placeholder]="' Filter by service'"
                        [multiSelect]="true"
                        [showAllOption]="true"
                        [showColors]="true"
                        [showImages]="false"
                        [cardBackgroundClass]="'bg-light'"
                        [autoSelectFirst]="false"
                        (selectionChange)="onServiceSelectionChange($event)">
                    </app-select-image>
                    <div *ngIf="loading" class="mt-1">
                        <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '16px', height: '48px', margin: '0px 0px 10px 0px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card bg-light mt-1">
                        <ul class="nav nav-pills nav-justified p-1" role="tablist">
                            <li class="nav-item waves-effect waves-light me-1 ms-1" role="presentation" [ngClass]="{'active': tabActive === 'Month'}">
                                <a class="nav-link" data-bs-toggle="tab" href="#month" role="tab" 
                                aria-selected="false" (click)="tabActive = 'Month'">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Month</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light me-1 ms-1" role="presentation" [ngClass]="{'active': tabActive === 'Week'}">
                                <a class="nav-link" data-bs-toggle="tab" href="#week" role="tab"
                                    aria-selected="false" (click)="tabActive = 'Week'">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Week</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light me-1 ms-1" role="presentation" [ngClass]="{'active': tabActive === 'Day'}">
                                <a class="nav-link" data-bs-toggle="tab" href="#day" role="tab" aria-selected="false"
                                    tabindex="-1" (click)="tabActive = 'Day'">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Day</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light me-1 ms-1" role="presentation" [ngClass]="{'active': tabActive === 'Stylists'}">
                                <a class="nav-link" data-bs-toggle="tab" href="#stylists" role="tab" aria-selected="false"
                                    tabindex="-1" (click)="tabActive = 'Stylists'">
                                    <span class="d-block d-sm-none"><i class="far fa-face-smile"></i></span>
                                    <span class="d-none d-sm-block">Stylists</span>
                                </a>
                            </li>
                            <li class="nav-item waves-effect waves-light me-1 ms-1" role="presentation" [ngClass]="{'active': tabActive === 'Floor'}">
                                <a class="nav-link" data-bs-toggle="tab" href="#floors" role="tab" aria-selected="false"
                                    tabindex="-1" (click)="tabActive = 'Floor'">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Floor</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2">
                    <app-select-image
                        *ngIf="!loading"
                        [options]="stylistOptions"
                        [placeholder]="'Filter by stylist'"
                        [multiSelect]="true"
                        [showAllOption]="true"
                        [showColors]="true"
                        [showImages]="true"
                        [cardBackgroundClass]="'bg-light'"
                        [autoSelectFirst]="false"
                        (selectionChange)="onStylistSelectionChange($event)">
                    </app-select-image>
                    <div *ngIf="loading" class="mt-1"> 
                        <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '16px', height: '48px', margin: '0px 0px 10px 0px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
                    </div>
                </div>

                <div *ngIf="tabActive === 'Month'" class="col-xl-2 animated fadeIn fast">
                    <div class="d-flex flex-wrap gap-2 pt-1 justify-content-end align-items-start h-100">
                        <button (click)="changeDateCalendarMonthly(true)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-left"></i></button>
                        <button (click)="setTodayDateCalendarMonthly()" [ngClass]="{'btn-dark': dateCalendarMonthly.getMonth() == dateNow.getMonth() && dateCalendarMonthly.getFullYear() == dateNow.getFullYear(), 'btn-light': dateCalendarMonthly.getMonth() != dateNow.getMonth() || dateCalendarMonthly.getFullYear() != dateNow.getFullYear()}" style="height: 46px !important" class="btn shadow-sm w-25">{{dateCalendarMonthly.toLocaleDateString('es-ES', { month: 'short' })}}</button>
                        <button (click)="changeDateCalendarMonthly(false)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-right"></i></button>
                    </div>
                </div>

                <div *ngIf="tabActive === 'Week'" class="col-xl-2 animated fadeIn fast">
                    <div class="d-flex flex-wrap gap-2 pt-1 justify-content-end align-items-start h-100">
                        <button (click)="changeDateCalendarWeekly(true)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-left"></i></button>
                        <button (click)="setTodayDateCalendarWeekly()" [ngClass]="{'btn-dark': dateCalendarWeekly.getDate() == dateNow.getDate(), 'btn-light': dateCalendarWeekly.getDate() != dateNow.getDate()}" style="height: 46px !important" class="btn shadow-sm w-25">{{dateCalendarWeekly.getDate()}}</button>
                        <button (click)="changeDateCalendarWeekly(false)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-right"></i></button>
                    </div>
                </div>

                <div *ngIf="tabActive === 'Day'" class="col-xl-2 animated fadeIn fast">
                    <div class="d-flex flex-wrap gap-2 pt-1 justify-content-end align-items-start h-100">
                        <button (click)="changeDateCalendarDaily(true)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-left"></i></button>
                        <button (click)="setTodayDateCalendarDaily()" [ngClass]="{'btn-dark': dateCalendarDaily.getDate() == dateNow.getDate(), 'btn-light': dateCalendarDaily.getDate() != dateNow.getDate()}" style="height: 46px !important" class="btn shadow-sm w-25">{{dateCalendarDaily.getDate()}}</button>
                        <button (click)="changeDateCalendarDaily(false)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-right"></i></button>
                    </div>
                </div>

                <div *ngIf="tabActive === 'Stylists'" class="col-xl-2">
                    <div class="d-flex flex-wrap gap-2 pt-1 justify-content-end align-items-start h-100">
                        <button (click)="changeDateBookingsSupplier(true)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-left"></i></button>
                        <button (click)="setTodayDateBookingsSupplier()" [ngClass]="{'btn-dark': dateBookingsSupplier.getDate() == dateNow.getDate(), 'btn-light': dateBookingsSupplier.getDate() != dateNow.getDate()}" style="height: 46px !important" class="btn shadow-sm w-25">{{dateBookingsSupplier.getDate()}}</button>
                        <button (click)="changeDateBookingsSupplier(false)" style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-right"></i></button>
                    </div>
                </div>

                <div *ngIf="tabActive === 'Floor'" class="col-xl-2 animated fadeIn fast">
                    <div class="d-flex flex-wrap gap-2 pt-1 justify-content-end align-items-start h-100">
                        <button style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-left"></i></button>
                        <button style="height: 46px !important" class="btn btn-light shadow-sm w-25">First Floor</button>
                        <button style="height: 46px !important" class="btn btn-light shadow-sm"><i class="bx bx-chevron-right"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="calendar-content">
    <app-calendar-monthly [ngStyle]="{'display': tabActive === 'Month' ? 'block' : 'none' }"  [date]="dateCalendarMonthly" [services]="servicesSelected" [stylists]="stylistsSelected"></app-calendar-monthly>
    <app-calendar-weekly [ngStyle]="{'display': tabActive === 'Week' ? 'block' : 'none' }"  [date]="dateCalendarWeekly"  [services]="servicesSelected" [stylists]="stylistsSelected"></app-calendar-weekly>
    <app-calendar-daily [ngStyle]="{'display': tabActive === 'Day' ? 'block' : 'none' }"  [date]="dateCalendarDaily" [services]="servicesSelected" [stylists]="stylistsSelected"></app-calendar-daily>
    <app-bookings-supplier [ngStyle]="{'display': tabActive === 'Stylists' ? 'block' : 'none' }"  [date]="dateBookingsSupplier" [services]="servicesSelected" [stylists]="stylistsSelected"></app-bookings-supplier>    
    <app-calendar-floor [ngStyle]="{'display': tabActive === 'Floor' ? 'block' : 'none' }"></app-calendar-floor>
</div>