<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card animated fadeIn fast">
                    <div class="card-header card-header-form">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="d-flex flex-wrap gap-2 justify-content-start align-items-center h-100">
                                    <button (click)="return()"  type="button" class="btn btn-light-sm bg-gradient waves-effect waves-light">Return</button>
                                    <h4 class="card-title"><i class="bx bx-cut"></i> {{titleComponent}}</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex flex-wrap gap-2 justify-content-end align-items-end h-100">
                                    <button (click)="put()" type="submit" class="btn btn-success w-sm bg-gradient waves-effect waves-light"><i *ngIf="charge" class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Save <b *ngIf="hasChanged">*</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form novalidate="novalidate" class="mb-2 animated fadeIn fast" [formGroup]="form" *ngIf="!loading">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Name *</label>
                                            <input type="text" class="form-control" (input)="capitalize('serviceName')" placeholder="Enter the name of the service" formControlName="serviceName">
                                            <div class="invalid-feedback" *ngIf="form.controls['serviceName'].hasError('required') && form.controls['serviceName'].touched">
                                                <strong>*</strong> The name of the service is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('serviceName') != undefined && send">
                                                <strong>*</strong> {{getValidation('serviceName')?.message}}
                                            </div>
                                        </div>                                    

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Category *</label>
                                            <select class="form-select" formControlName="categoryId">
                                                <option value="">Select a category</option>
                                                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="form.controls['categoryId'].hasError('required') && form.controls['categoryId'].touched">
                                                <strong>*</strong> The category is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('categoryId') != undefined && send">
                                                <strong>*</strong> {{getValidation('categoryId')?.message}}
                                            </div>                                            
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Duration (minutes) *</label>
                                            <input type="number" class="form-control" placeholder="Duration in minutes" formControlName="durationMinutes">
                                            <div class="invalid-feedback" *ngIf="form.controls['durationMinutes'].hasError('required') && form.controls['durationMinutes'].touched">
                                                <strong>*</strong> The duration is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="form.controls['durationMinutes'].hasError('min') && form.controls['durationMinutes'].touched">
                                                <strong>*</strong> The duration must be greater than 0
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('durationMinutes') != undefined && send">
                                                <strong>*</strong> {{getValidation('durationMinutes')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Processing Time (minutes)</label>
                                            <input type="number" class="form-control" placeholder="Rest time after service" formControlName="processingTime">
                                            <div class="invalid-feedback" *ngIf="form.controls['processingTime'].hasError('min') && form.controls['processingTime'].touched">
                                                <strong>*</strong> The processing time must be greater than or equal to 0
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('processingTime') != undefined && send">
                                                <strong>*</strong> {{getValidation('processingTime')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Price *</label>
                                            <input type="number" step="0.01" class="form-control" placeholder="Price of the service" formControlName="price">
                                            <div class="invalid-feedback" *ngIf="form.controls['price'].hasError('required') && form.controls['price'].touched">
                                                <strong>*</strong> The price is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="form.controls['price'].hasError('min') && form.controls['price'].touched">
                                                <strong>*</strong> The price must be greater than or equal to 0
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('price') != undefined && send">
                                                <strong>*</strong> {{getValidation('price')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Type *</label>
                                            <select class="form-select" formControlName="type">
                                                <option value="">Select a type</option>
                                                <option *ngFor="let type of types" [value]="type.name">{{type.code}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Color</label>
                                            <input type="color" style="height: 38px; border-radius: 12px;" class="form-control" formControlName="color" [value]="form.get('color')?.value">
                                            <div class="invalid-feedback" *ngIf="form.controls['color'].hasError('required') && form.controls['color'].touched">
                                                <strong>*</strong> The color is required
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" rows="3" placeholder="Description of the service" formControlName="serviceDescription"></textarea>
                                            <div class="invalid-feedback" *ngIf="getValidation('serviceDescription') != undefined && send">
                                                <strong>*</strong> {{getValidation('serviceDescription')?.message}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mb-3 mt-4 animated fadeIn fast" *ngIf="loading">
                            <app-skelletons-simple [row]="3" [col]="2"></app-skelletons-simple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
