<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card animated fadeIn fast">
                    <div class="card-header card-header-form">
                        <div class="row">
                            <div class="col-md-9">
                                <h4 class="card-title mt-2">{{titleComponent}}</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex flex-wrap gap-2 justify-content-end align-items-end h-100">
                                    <button (click)="return()"  type="button" class="btn btn-danger w-sm bg-gradient waves-effect waves-light">Return</button>
                                    <button (click)="post()" type="submit" class="btn btn-success w-sm bg-gradient waves-effect waves-light"><i *ngIf="charge" class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form novalidate="novalidate" class="mb-2" [formGroup]="form" *ngIf="!loading">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 ">
                                    <label class="form-label">Photo profile</label>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="text-center p-3 text-white rounded">
                                            <div class="mb-3">
                                                <img [src]="srcImage" style="width: 150px" class="half-width img-thumbnail text-center" alt="Preview" />
                                            </div>
                                            <button (click)="fileInput.click()" class="btn btn-outline-primary w-xl waves-effect waves-light">Upload photo</button>
                                            <input #fileInput  (click)="onFileSelected($event)" type="file" accept=".png, .jpg, .jepg" (change)="onFileSelected($event)" class="hidden">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">First name *</label>
                                            <input type="text" class="form-control" (input)="capitalize('firstName')" placeholder="Enter the first name" formControlName="firstName">
                                            <div class="invalid-feedback" *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched">
                                                <strong>*</strong> The first name is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('firstName') != undefined && send">
                                                <strong>*</strong> {{getValidation('firstName')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Last name *</label>
                                            <input type="text" class="form-control" (input)="capitalize('lastName')" placeholder="Enter the last name" formControlName="lastName">
                                            <div class="invalid-feedback" *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched">
                                                <strong>*</strong> The last name is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('lastName') != undefined && send">
                                                <strong>*</strong> {{getValidation('lastName')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Email *</label>
                                            <input type="text" class="form-control" placeholder="Enter the email" formControlName="email">
                                            <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
                                                <strong>*</strong> The email is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">
                                                    <strong>*</strong> The email is not valid
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('email') != undefined && send">
                                                <strong>*</strong> {{getValidation('email')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Mobile phone *</label>
                                            <input type="text" class="form-control" placeholder="Enter the mobile phone" formControlName="phone">
                                            <div class="invalid-feedback" *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched">
                                                <strong>*</strong> The mobile phone is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="form.controls['phone'].hasError('pattern') && form.controls['phone'].touched">
                                                <strong>*</strong> The mobile phone must have 9 numbers
                                            </div>
                                            <div class="invalid-feedback" *ngIf="getValidation('phone') != undefined && send">
                                                <strong>*</strong> {{getValidation('phone')?.message}}
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Password *</label>
                                            <input type="password" class="form-control" placeholder="Enter the password" formControlName="password">
                                            <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                                                <strong>*</strong> The password is required
                                            </div>
                                            <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched">
                                                <strong>*</strong> The password must have at least 8 characters
                                            </div>
                                                <div class="invalid-feedback" *ngIf="getValidation('password') != undefined && send">
                                                <strong>*</strong> {{getValidation('password')?.message}}
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mb-3 mt-4" *ngIf="loading">
                            <app-skelleton-user-info></app-skelleton-user-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>