USE [chronos-beauty]
GO
/****** Object:  Table [Chronos].[Availability]    Script Date: 13/08/2025 9:54:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Availability](
	[AvailabilityId] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsRecurring] [bit] NOT NULL,
	[EffectiveFromDate] [date] NOT NULL,
	[EffectiveToDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[SupplierId] [uniqueidentifier] NULL,
	[Reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AvailabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Chronos_Availability_ProviderDayTime] UNIQUE NONCLUSTERED 
(
	[ProviderId] ASC,
	[DayOfWeek] ASC,
	[StartTime] ASC,
	[EndTime] ASC,
	[EffectiveFromDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[BlockedTimes]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[BlockedTimes](
	[BlockedTimeId] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[BlockedDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlockedTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Bookings]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ClientNotes] [nvarchar](1000) NULL,
	[ProviderNotes] [nvarchar](1000) NULL,
	[BookingReference] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancellationReason] [nvarchar](500) NULL,
	[BookingDateTime] [datetime2](7) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[BookingService]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[BookingService](
	[BookingId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_BookingService] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Categories]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Customers]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PreferredLanguage] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[NotificationLogs]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[NotificationLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NotificationLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[ServiceModifiers]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[ServiceModifiers](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[ModifiedDurationInMinutes] [int] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NULL,
	[ModifiedPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ServiceModifiers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Services]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[ServiceDescription] [nvarchar](1000) NULL,
	[DurationMinutes] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Color] [nvarchar](7) NOT NULL,
	[ProcessingTime] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Chronos].[Suppliers]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Chronos].[Suppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](200) NULL,
	[BusinessDescription] [nvarchar](1000) NULL,
	[BusinessAddress] [nvarchar](500) NULL,
	[Website] [nvarchar](255) NULL,
	[BusinessEmail] [nvarchar](255) NULL,
	[BusinessPhone] [nvarchar](20) NULL,
	[IsVerified] [bit] NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[TotalReviews] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Chronos_Suppliers_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[Permissions]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Resource] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[RolePermissions]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[RolePermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
	[GrantedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rbac_RolePermissions_RolePermission] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[Roles]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsSystemRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rbac].[Users]    Script Date: 13/08/2025 9:54:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rbac].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[StripeAccountId] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (newid()) FOR [AvailabilityId]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT ((1)) FOR [IsRecurring]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Availability] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT (newid()) FOR [BlockedTimeId]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[BlockedTimes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [BookingDateTime]
GO
ALTER TABLE [Chronos].[Bookings] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [Chronos].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Categories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT ('EN') FOR [PreferredLanguage]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [Chronos].[Customers] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [Chronos].[ServiceModifiers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [Id]
GO
ALTER TABLE [Chronos].[ServiceModifiers] ADD  DEFAULT ((0.0)) FOR [ModifiedPrice]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT (N'') FOR [Color]
GO
ALTER TABLE [Chronos].[Services] ADD  DEFAULT ((0)) FOR [ProcessingTime]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0.00)) FOR [Rating]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Chronos].[Suppliers] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Permissions] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[RolePermissions] ADD  DEFAULT (getutcdate()) FOR [GrantedAt]
GO
ALTER TABLE [Rbac].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT ((0)) FOR [IsSystemRole]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Roles] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Rbac].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Chronos].[Availability]  WITH CHECK ADD  CONSTRAINT [FK_Availability_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [Chronos].[Suppliers] ([Id])
GO
ALTER TABLE [Chronos].[Availability] CHECK CONSTRAINT [FK_Availability_Suppliers_SupplierId]
GO
ALTER TABLE [Chronos].[BlockedTimes]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_BlockedTimes_Suppliers] FOREIGN KEY([ProviderId])
REFERENCES [Chronos].[Suppliers] ([Id])
GO
ALTER TABLE [Chronos].[BlockedTimes] CHECK CONSTRAINT [FK_Chronos_BlockedTimes_Suppliers]
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_Bookings_Customers] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
GO
ALTER TABLE [Chronos].[Bookings] CHECK CONSTRAINT [FK_Chronos_Bookings_Customers]
GO
ALTER TABLE [Chronos].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[BookingService] CHECK CONSTRAINT [FK_BookingService_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[BookingService]  WITH CHECK ADD  CONSTRAINT [FK_BookingService_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [Chronos].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[BookingService] CHECK CONSTRAINT [FK_BookingService_Services_ServiceId]
GO
ALTER TABLE [Chronos].[NotificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_NotificationLogs_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[NotificationLogs] CHECK CONSTRAINT [FK_NotificationLogs_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[NotificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_NotificationLogs_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[NotificationLogs] CHECK CONSTRAINT [FK_NotificationLogs_Customers_CustomerId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [Chronos].[Bookings] ([Id])
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Bookings_BookingId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Chronos].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Customers_CustomerId]
GO
ALTER TABLE [Chronos].[ServiceModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ServiceModifiers_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [Chronos].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Chronos].[ServiceModifiers] CHECK CONSTRAINT [FK_ServiceModifiers_Services_ServiceId]
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Chronos_Services_Categories] FOREIGN KEY([CategoryId])
REFERENCES [Chronos].[Categories] ([Id])
GO
ALTER TABLE [Chronos].[Services] CHECK CONSTRAINT [FK_Chronos_Services_Categories]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_GrantedBy] FOREIGN KEY([GrantedBy])
REFERENCES [Rbac].[Users] ([Id])
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_GrantedBy]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [Rbac].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_Permissions]
GO
ALTER TABLE [Rbac].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_Rbac_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [Rbac].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Rbac].[RolePermissions] CHECK CONSTRAINT [FK_Rbac_RolePermissions_Roles]
GO
ALTER TABLE [Chronos].[Availability]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_Availability_TimeRange] CHECK  (([EndTime]>=[StartTime]))
GO
ALTER TABLE [Chronos].[Availability] CHECK CONSTRAINT [CK_Chronos_Availability_TimeRange]
GO
ALTER TABLE [Chronos].[BlockedTimes]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_BlockedTimes_TimeRange] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [Chronos].[BlockedTimes] CHECK CONSTRAINT [CK_Chronos_BlockedTimes_TimeRange]
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [Chronos].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Chronos_Bookings_Status] CHECK  (([Status]='Rescheduled' OR [Status]='NoShow' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [Chronos].[Bookings] CHECK CONSTRAINT [CK_Chronos_Bookings_Status]
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD CHECK  (([DurationMinutes]>(0)))
GO
ALTER TABLE [Chronos].[Services]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [Chronos].[Suppliers]  WITH CHECK ADD CHECK  (([Rating]>=(0.00) AND [Rating]<=(5.00)))
GO
ALTER TABLE [Rbac].[Users]  WITH CHECK ADD CHECK  (([UserRole]='ServiceProvider' OR [UserRole]='Client'))
GO

-- ====================================
-- INSERTS DE DATOS DE PRUEBA
-- ====================================

-- Insertar Roles

-- Insertar Permisos

-- Insertar Usuarios

-- Insertar Categorías

-- Declarar variables para IDs de usuarios que necesitaremos referenciar
DECLARE @UserId1 UNIQUEIDENTIFIER, @UserId2 UNIQUEIDENTIFIER, @UserId3 UNIQUEIDENTIFIER,
        @UserId4 UNIQUEIDENTIFIER, @UserId5 UNIQUEIDENTIFIER, @UserId6 UNIQUEIDENTIFIER,
        @UserId7 UNIQUEIDENTIFIER, @UserId8 UNIQUEIDENTIFIER, @UserId9 UNIQUEIDENTIFIER, @UserId10 UNIQUEIDENTIFIER;

-- Obtener los IDs de los usuarios insertados
SELECT @UserId1 = Id FROM [Rbac].[Users] WHERE Email = 'admin@chronosbeauty.com';
SELECT @UserId2 = Id FROM [Rbac].[Users] WHERE Email = 'sofia.martinez@email.com';
SELECT @UserId3 = Id FROM [Rbac].[Users] WHERE Email = 'carlos.rodriguez@email.com';
SELECT @UserId4 = Id FROM [Rbac].[Users] WHERE Email = 'ana.lopez@email.com';
SELECT @UserId5 = Id FROM [Rbac].[Users] WHERE Email = 'lucia.fernandez@email.com';
SELECT @UserId6 = Id FROM [Rbac].[Users] WHERE Email = 'david.sanchez@email.com';
SELECT @UserId7 = Id FROM [Rbac].[Users] WHERE Email = 'elena.garcia@email.com';
SELECT @UserId8 = Id FROM [Rbac].[Users] WHERE Email = 'pablo.ruiz@email.com';
SELECT @UserId9 = Id FROM [Rbac].[Users] WHERE Email = 'carmen.jimenez@email.com';
SELECT @UserId10 = Id FROM [Rbac].[Users] WHERE Email = 'miguel.torres@email.com';

-- Insertar Proveedores (Suppliers)
DECLARE @SupplierId1 UNIQUEIDENTIFIER = NEWID(), @SupplierId2 UNIQUEIDENTIFIER = NEWID(),
        @SupplierId3 UNIQUEIDENTIFIER = NEWID(), @SupplierId4 UNIQUEIDENTIFIER = NEWID(),
        @SupplierId5 UNIQUEIDENTIFIER = NEWID();


-- Insertar Clientes (Customers)

-- Insertar Servicios
DECLARE @CategoryCorte INT, @CategoryColor INT, @CategoryFacial INT, @CategoryNails INT, @CategoryMasaje INT;
SELECT @CategoryCorte = Id FROM [Chronos].[Categories] WHERE Name = 'Corte de Cabello';
SELECT @CategoryColor = Id FROM [Chronos].[Categories] WHERE Name = 'Coloración';
SELECT @CategoryFacial = Id FROM [Chronos].[Categories] WHERE Name = 'Tratamientos Faciales';
SELECT @CategoryNails = Id FROM [Chronos].[Categories] WHERE Name = 'Manicura y Pedicura';
SELECT @CategoryMasaje = Id FROM [Chronos].[Categories] WHERE Name = 'Masajes';


-- Obtener IDs de clientes y servicios para las reservas
DECLARE @CustomerId1 UNIQUEIDENTIFIER, @CustomerId2 UNIQUEIDENTIFIER, @CustomerId3 UNIQUEIDENTIFIER,
        @CustomerId4 UNIQUEIDENTIFIER, @CustomerId5 UNIQUEIDENTIFIER;
DECLARE @ServiceId1 UNIQUEIDENTIFIER, @ServiceId2 UNIQUEIDENTIFIER, @ServiceId3 UNIQUEIDENTIFIER,
        @ServiceId4 UNIQUEIDENTIFIER, @ServiceId5 UNIQUEIDENTIFIER;

SELECT TOP 1 @CustomerId1 = Id FROM [Chronos].[Customers] WHERE Email = 'ana.lopez@email.com';
SELECT TOP 1 @CustomerId2 = Id FROM [Chronos].[Customers] WHERE Email = 'lucia.fernandez@email.com';
SELECT TOP 1 @CustomerId3 = Id FROM [Chronos].[Customers] WHERE Email = 'elena.garcia@email.com';
SELECT TOP 1 @CustomerId4 = Id FROM [Chronos].[Customers] WHERE Email = 'carmen.jimenez@email.com';
SELECT TOP 1 @CustomerId5 = Id FROM [Chronos].[Customers] WHERE Email = 'miguel.torres@email.com';

SELECT TOP 1 @ServiceId1 = Id FROM [Chronos].[Services] WHERE ServiceName = 'Corte Clásico Mujer';
SELECT TOP 1 @ServiceId2 = Id FROM [Chronos].[Services] WHERE ServiceName = 'Tinte Completo';
SELECT TOP 1 @ServiceId3 = Id FROM [Chronos].[Services] WHERE ServiceName = 'Limpieza Facial Profunda';
SELECT TOP 1 @ServiceId4 = Id FROM [Chronos].[Services] WHERE ServiceName = 'Manicura Gel';
SELECT TOP 1 @ServiceId5 = Id FROM [Chronos].[Services] WHERE ServiceName = 'Masaje Relajante';

-- Insertar Reservas (Bookings)
DECLARE @BookingId1 UNIQUEIDENTIFIER = NEWID(), @BookingId2 UNIQUEIDENTIFIER = NEWID(),
        @BookingId3 UNIQUEIDENTIFIER = NEWID(), @BookingId4 UNIQUEIDENTIFIER = NEWID(),
        @BookingId5 UNIQUEIDENTIFIER = NEWID(), @BookingId6 UNIQUEIDENTIFIER = NEWID(),
        @BookingId7 UNIQUEIDENTIFIER = NEWID(), @BookingId8 UNIQUEIDENTIFIER = NEWID(),
        @BookingId9 UNIQUEIDENTIFIER = NEWID(), @BookingId10 UNIQUEIDENTIFIER = NEWID();


-- Insertar relaciones BookingService
INSERT INTO [Chronos].[BookingService] ([BookingId], [ServiceId], [Order])
SELECT @BookingId1, @ServiceId1, 1
UNION ALL
SELECT @BookingId2, @ServiceId3, 1
UNION ALL
SELECT @BookingId3, (SELECT TOP 1 Id FROM [Chronos].[Services] WHERE ServiceName = 'Corte Moderno Hombre'), 1
UNION ALL
SELECT @BookingId4, @ServiceId4, 1
UNION ALL
SELECT @BookingId5, @ServiceId5, 1
UNION ALL
SELECT @BookingId6, (SELECT TOP 1 Id FROM [Chronos].[Services] WHERE ServiceName = 'Peeling Químico'), 1
UNION ALL
SELECT @BookingId7, (SELECT TOP 1 Id FROM [Chronos].[Services] WHERE ServiceName = 'Mechas Balayage'), 1
UNION ALL
SELECT @BookingId8, (SELECT TOP 1 Id FROM [Chronos].[Services] WHERE ServiceName = 'Masaje Descontracturante'), 1
UNION ALL
SELECT @BookingId9, (SELECT TOP 1 Id FROM [Chronos].[Services] WHERE ServiceName = 'Pedicura Spa'), 1
UNION ALL
SELECT @BookingId10, @ServiceId2, 1;

-- Insertar Disponibilidad (Availability)

-- Insertar Tiempos Bloqueados (BlockedTimes)

-- Insertar Logs de Notificaciones

-- Insertar Modificadores de Servicio

-- Insertar Permisos de Roles (RolePermissions)
DECLARE @RoleAdmin INT, @RoleProvider INT, @RoleCustomer INT;
SELECT @RoleAdmin = Id FROM [Rbac].[Roles] WHERE Name = 'Admin';
SELECT @RoleProvider = Id FROM [Rbac].[Roles] WHERE Name = 'ServiceProvider';
SELECT @RoleCustomer = Id FROM [Rbac].[Roles] WHERE Name = 'Customer';

INSERT INTO [Rbac].[RolePermissions] ([RoleId], [PermissionId], [GrantedAt], [GrantedBy], [IsActive])
SELECT @RoleAdmin, p.Id, GETUTCDATE(), @UserId1, 1
FROM [Rbac].[Permissions] p
UNION ALL
SELECT @RoleProvider, p.Id, GETUTCDATE(), @UserId1, 1  
FROM [Rbac].[Permissions] p
WHERE p.Name IN ('booking.create', 'booking.read', 'booking.update', 'calendar.manage')
UNION ALL
SELECT @RoleCustomer, p.Id, GETUTCDATE(), @UserId1, 1
FROM [Rbac].[Permissions] p
WHERE p.Name IN ('booking.create', 'booking.read');
