<div class="main-content" style="background-image: url('assets/images/background.jpg'); background-repeat: repeat-y; background-position: top center; background-size: 100% auto;">
<!-- <div class="main-content" style="background-image: url('assets/images/background.jpg'); background-repeat: repeat-y; background-position: top center; background-size: 100% auto;"></div> -->
    <router-outlet></router-outlet>
    <app-chat></app-chat>
    <app-offcanvas-create-booking></app-offcanvas-create-booking>
    <app-offcanvas-update-booking></app-offcanvas-update-booking>
    <app-offcanvas-detail-booking></app-offcanvas-detail-booking>
</div>  