<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header card-header-form">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-2"><i class="bx bx-user text-muted font-size-18 me-2"></i>{{titleComponent}}</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-wrap gap-2 justify-content-end align-items-end h-100">
                                    <button (click)="create()" class="btn btn-primary w-sm bg-gradient waves-effect waves-light">New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="!loading" class="table-responsive animated fadeIn fast">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>State</th>
                                                <th>Name</th>
                                                <th>Language</th>
                                                <th width="250" class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let customer of customers">
                                                <td>
                                                    <span *ngIf="customer.isActive == true" class="badge badge-pill bg-success-subtle text-success font-size-14">Active</span>
                                                    <span *ngIf="customer.isActive == false" class="badge badge-pill bg-danger-subtle text-danger font-size-14">Inactive</span>
                                                </td>
                                                <td>{{ getCustomerName(customer) | slice:0:50}}</td>
                                                <td>{{getLanguageFormatted(customer.preferredLanguage || 'English')}}</td>
                                                <td class="text-rigth">
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item">
                                                            <div (click)="detail(customer.id)" matTooltip="Detail" class="px-3 text-success cursor"
                                                                aria-label="Detail" data-bs-original-title="Detail"><i
                                                                    class="bx bx-show-alt font-size-18"></i></div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <div matTooltip="Update" (click)="update(customer.id)" class="px-3 text-primary cursor"
                                                                aria-label="Edit" data-bs-original-title="Edit"><i
                                                                    class="bx bx-pencil font-size-18"></i></div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <div (click)="delete(customer.id)" matTooltip="Delete" class="px-3 text-danger cursor"
                                                                aria-label="Delete" data-bs-original-title="Delete"><i
                                                                    class="bx bx bx-x font-size-18"></i></div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator class="paginator" 
                                        #paginator
                                        *ngIf="showPaginate && customers.length > 0 && !loading" 
                                        [length]="totalItems" 
                                        [pageSize]="pageSize"
                                        [showFirstLastButtons]="true" 
                                        [pageSizeOptions]="maxItems"
                                        [pageIndex]="pageIndex"
                                        (page)="changePage($event)">
                                    </mat-paginator>
                                    <div *ngIf="!loading && customers.length == 0" class="card border-square-top border-ligth">
                                        <div class="card-body">
                                            <h1 class="display-3 text-center">
                                                <small class="text-muted"><i class="bx bx-search-alt-2"></i></small>
                                            </h1>
                                            <h6 class="card-title text-center">
                                                No results found.
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="loading" class="animated fadeIn fast">
                                    <ngx-skeleton-loader [count]="10"
                                        [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }">
                                    </ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
