<div class="calendar-canvas calendar-daily mt-0 no-border no-box-shadow animated fadeIn fast" id="calendar-daily-header">
    <div class="calendar-container-daily">
        <div [ngClass]="{'bg-dark': currentDate.isToday, 'text-light': !currentDate.isToday}" class="date-navigation d-flex justify-content-between align-items-center mb-0">
            
            <div class="current-date-info text-center">
                <div class="card-date-day">
                    <p [ngClass]="{'text-light': currentDate.isToday, 'text-dark': !currentDate.isToday}" class="font-size-16 fw-normal mb-1 capitalize">{{currentDate.date.toLocaleString('en-US', { weekday: 'long' })}}</p>
                </div>
                <div class="card-date-number">
                    <p [ngClass]="{'text-light': currentDate.isToday, 'text-dark': !currentDate.isToday}"  class="font-size-26 fw-semibold mb-0">{{currentDate.date.getDate()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="calendar-canvas calendar-body-daily mt-0 no-border no-box-shadow animated fadeIn fast">
    <div class="calendar-container-daily">
        
       <!-- Indicador de carga -->
        <!-- <div *ngIf="isLoadingBookings" class="d-flex justify-content-center align-items-center p-4">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando citas...</span>
            </div>
            <span class="ms-2 text-muted">Cargando citas...</span>
        </div> -->

        <table class="calendar-table-daily mt-1" >
           
            <tbody>
                <!-- Filas de horas -->
                <tr class="time-row-daily" *ngFor="let hour of getHoursRange()">
                    <td width="15%" class="time-cell-daily">
                        <span class="time-label-daily fw-semibold">{{formatHour(hour.toString())}}</span>
                    </td>
                    <td class="day-cell-daily" 
                        [attr.data-hour]="hour" 
                        [attr.data-date]="currentDate.date.toISOString()"
                        (click)="openBookingModal(currentDate.date, hour)">
                        <div class="cell-content-daily" *ngIf="!isLoadingBookings">
                            <div class="booking-item-daily animated fadeIn fast" 
                                 *ngFor="let booking of getBookingsForDateTime(currentDate.date, hour)"
                                 [style.background-color]="booking.services?.[0]?.color || '#23324d'">
                                <div class="booking-info-daily">
                                    <div class="d-flex justify-content-between align-items-start mb-2">
                                        <span class="text-white booking-service fw-bold">
                                            {{booking.services?.[0]?.serviceName || 'Sin servicio'}}
                                        </span>
                                        <span class="text-white booking-price-daily fw-semibold">
                                            ${{booking.totalPrice}}
                                        </span>
                                    </div>
                                    
                                    <!-- <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="text-white booking-time-daily">
                                            {{booking.startTime | timeOnly}} - {{booking.endTime | timeOnly}}
                                        </span>
                                        <span class="badge" 
                                              [style.background-color]="getBookingStatusColor(booking)"
                                              style="color: #000 !important;">
                                            {{booking.status}}
                                        </span>
                                    </div> -->
                                    
                                    <div class="booking-customer-info-daily d-flex align-items-center mb-2">
                                        <img class="rounded-circle me-2" 
                                             width="24" 
                                             height="24" 
                                             [src]="imageUser" 
                                             alt="Foto del cliente">
                                        <span class="text-white booking-customer-name">
                                            {{booking.customer.firstName}} {{booking.customer.lastName}}
                                        </span>
                                    </div>
                                    <div class="services-badges ">
                                        <span class="badge badge-service me-1 mb-1" 
                                              *ngFor="let service of booking.services; let i = index"
                                              [style.background-color]="i === 0 ? 'rgba(255,255,255,0.9)' : 'rgba(255,255,255,0.7)'"
                                              [style.color]="booking.services?.[0]?.color || '#23324d'">
                                            {{service.serviceName}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


