<div class="card">
    <div class="card-body p-0">
        <div class="user-profile-img position-relative">
            <ngx-skeleton-loader 
                count="1" 
                appearance="line"
                [theme]="{ 
                    'height': '120px', 
                    'width': '100%',
                    'border-radius': '0.25rem 0.25rem 0 0',
                    'margin-bottom': '0'
                }">
            </ngx-skeleton-loader>
        </div>

        <div class="mt-n5 ">
            <div class="text-center">
                <div class="d-flex justify-content-center">
                    <ngx-skeleton-loader 
                        count="1" 
                        appearance="circle"
                        [theme]="{ 
                            'width': '90px', 
                            'height': '90px',
                            'top': '0px',   
                            'left': '0px',   

                            'margin-bottom': '0',
                            'border': '3px solid white'
                        }">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>

        <div class="p-3 mt-5">
            <div class="row text-center pb-3">
                <div class="col-6 border-end">
                    <div class="p-1">
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '22px', 
                                'width': '30px',
                                'margin': '0 auto 6px auto',
                                'border-radius': '4px'
                            }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '14px', 
                                'width': '65px',
                                'margin': '0 auto',
                                'border-radius': '4px'
                            }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-1">
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '22px', 
                                'width': '30px',
                                'margin': '0 auto 6px auto',
                                'border-radius': '4px'
                            }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '14px', 
                                'width': '50px',
                                'margin': '0 auto',
                                'border-radius': '4px'
                            }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <div class="mb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <ngx-skeleton-loader 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'height': '18px', 
                            'width': '70px',
                            'margin-bottom': '0',
                            'border-radius': '4px'
                        }">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader 
                        count="1" 
                        appearance="circle"
                        [theme]="{ 
                            'height': '20px', 
                            'width': '20px',
                            'margin-bottom': '0'
                        }">
                    </ngx-skeleton-loader>
                </div>

                <div class="text-center mt-4">
                    <ngx-skeleton-loader 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'height': '36px', 
                            'width': '60px',
                            'margin': '0 auto 8px auto',
                            'border-radius': '4px'
                        }">
                    </ngx-skeleton-loader>
                    
                    <ngx-skeleton-loader 
                        count="1" 
                        appearance="line"
                        [theme]="{ 
                            'height': '14px', 
                            'width': '130px',
                            'margin': '0 auto 16px auto',
                            'border-radius': '4px'
                        }">
                    </ngx-skeleton-loader>
                    
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '22px', 
                                'width': '65px',
                                'border-radius': '12px',
                                'margin-bottom': '0'
                            }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader 
                            count="1" 
                            appearance="line"
                            [theme]="{ 
                                'height': '14px', 
                                'width': '130px',
                                'margin-bottom': '0',
                                'border-radius': '4px'
                            }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <div>
                <ngx-skeleton-loader 
                    count="1" 
                    appearance="line"
                    [theme]="{ 
                        'height': '18px', 
                        'width': '120px',
                        'margin-bottom': '16px',
                        'border-radius': '4px'
                    }">
                </ngx-skeleton-loader>

                <ul class="list-unstyled mb-0">
                    <li class="py-2" *ngFor="let item of [1, 2, 3, 4, 5]">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <ngx-skeleton-loader 
                                    count="1" 
                                    appearance="line"
                                    [theme]="{ 
                                        'height': '52px', 
                                        'width': '52px',
                                        'border-radius': '6px',
                                        'margin-bottom': '0'
                                    }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="flex-grow-1">
                                <ngx-skeleton-loader 
                                    count="1" 
                                    appearance="line"
                                    [theme]="{ 
                                        'height': '14px', 
                                        'width': '160px',
                                        'margin-bottom': '0',
                                        'border-radius': '4px'
                                    }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
