<header id="page-topbar" class="isvertical-topbar topbar-glass">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box">
                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/chronos-collapse.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/chronos-collapse.png" alt="" height="22">
                    </span>
                </a>

                <a href="#" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/chronos-collapse.png" alt="" height="22">
                    </span>
                    <span class="logo-sm">
                        <img src="assets/images/chronos-collapse.png" alt="" height="22">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn topnav-hamburger">
                <span class="hamburger-icon open">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
            <div style="width: 580px;" class="d-none d-sm-block ms-3 align-self-center">
                <div *ngIf="!load" class="d-flex animated fadeIn fast">
                    <div class="me-3">
                        <h4 class="page-title capitalice mt-1">{{moduleName?.name}}</h4>
                    </div>
                    <div>
                        <nav class="breadcrumb-container mt-2">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="dashboard"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a [href]="moduleName?.module">{{moduleName?.name}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block language-switch">
                <button type="button" class="btn header-item" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="bx bx-building me-2"></i>
                    <b>{{selectedSalon.label}}</b>
                </button>
                <div class="dropdown-menu dropdown-menu-end " style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 72px);" data-popper-placement="bottom-end">
                    <a *ngFor="let salon of salons" class="dropdown-item notify-item language" data-lang="eng">
                        {{salon.label}}                    
                    </a>
                </div>
            </div>

            <div *ngIf="!load" class="dropdown d-inline-block  animated fadeIn fast">
                <button type="button" class="btn header-item user text-start d-flex align-items-center"
                    id="page-header-user-dropdown-v" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="rounded-circle header-profile-user" [src]="imageUser" alt="Header Avatar">
                </button>

                <div class="dropdown-menu dropdown-menu-end pt-0">
                    <div class="p-3 border-bottom">
                        <h6 class="mb-0">{{user.firstName}} {{user.lastName}}</h6>
                        <p class="mb-0 font-size-11 text-muted">{{roleUser}}</p>
                    </div>
                    <a class="dropdown-item cursor" (click)="profile()"><i
                            class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle">Profile</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item cursor" (click)="logOut()"><i
                            class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle">Logout</span></a>
                </div>
            </div>
           
        </div>
    </div>
</header>