<div class="row" >
    <div class="col-md-4 col-sm-12">
        <br>
        <div class="d-flex justify-content-center align-items-center">
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '20', height: '140px', width: '140px' }"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row">
                    <div class="col-sm-4">
                        <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
                    </div>
                    <div class="col-sm-8">
                        <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6 mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px' }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>