<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header card-header-form">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-2">{{titleComponent}}</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-wrap gap-2 justify-content-end align-items-end h-100">
                                    <!-- <app-filter [attributes]="attributes" [states]="states" [entity]="entity" [roles]="(rolesToFilter$ | async) || []" (search)="filter($event)"></app-filter> -->
                                    <button (click)="create()" class="btn btn-primary w-sm bg-gradient waves-effect waves-light">New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="!loading" class="tab-pane fade show active animated fadeIn fast" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <table  class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>State</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th width="250" class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of users">
                                                <td>
                                                    <span *ngIf="user.isActive == true" class="badge badge-pill bg-success-subtle text-success font-size-14">Activado</span>
                                                    <span *ngIf="user.isActive == false" class="badge badge-pill bg-danger-subtle text-danger font-size-14">Desactivado</span>
                                                </td>
                                                <td>{{ getFullName(user) | slice:0:40}}</td>
                                                <td>{{user.email | slice:0:35}}</td>
                                                <td class="text-rigth">
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item">
                                                            <div (click)="availability(user.id)" matTooltip="Availability" class="px-3 text-dark cursor"
                                                                aria-label="Detail" data-bs-original-title="Availability"><i
                                                                    class="bx bx-calendar-check font-size-18"></i></div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <div (click)="detail(user.id)" matTooltip="Detail" class="px-3 text-success cursor"
                                                                aria-label="Detail" data-bs-original-title="Detail"><i
                                                                    class="bx bx-show-alt font-size-18"></i></div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <div matTooltip="Update" (click)="update(user.id)" class="px-3 text-primary cursor"
                                                                aria-label="Edit" data-bs-original-title="Edit"><i
                                                                    class="bx bx-pencil font-size-18"></i></div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <div (click)="delete(user.id)" matTooltip="Delete" class="px-3 text-danger cursor"
                                                                aria-label="Detail" data-bs-original-title="Detail"><i
                                                                    class="bx bx bx-x font-size-18"></i></div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator class="paginator" 
                                        #paginator
                                        *ngIf="showPaginate && users.length > 0 && !loading" 
                                        [length]="totalItems" 
                                        [pageSize]="pageSize"
                                        [showFirstLastButtons]="true" 
                                        [pageSizeOptions]="maxItems"
                                        [pageIndex]="pageIndex"
                                        (page)="changePage($event)">
                                    </mat-paginator>
                                    <div *ngIf="!loading && users.length == 0" class="card border-square-top border-ligth">
                                        <div class="card-body">
                                            <h1 class="display-3 text-center">
                                                <small class="text-muted"><i class="bx bx-search-alt-2"></i></small>
                                            </h1>
                                            <h6 class="card-title text-center">
                                                No results found.
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="loading" class="animated fadeIn fast">
                                    <ngx-skeleton-loader [count]="10"
                                        [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }">
                                    </ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>