.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
  }

  .divider span {
  padding: 0 1rem;
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
}

.auth-bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  background: #000;
}

.auth-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


