<div class="d-flex flex-column h-100">
    <div class="mb-4 mb-md-5">
        <div class="d-block auth-logo">
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10',  'height': '80px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="auth-content my-auto">
        <div class="text-center mb-4">
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', 'height': '0px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
            <br>
            <br>
            <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', 'height': '0px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
        </div>
        <div class="mt-5 pt-2">
            <div class="form-floating form-floating-custom">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '20', 'height': '45px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
            </div>            
            <br>
            <div class="form-floating form-floating-custom mb-2 auth-pass-inputgroup">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '20', 'height': '45px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
            </div>
            <br>
            <div class="mb-3">
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '20', 'height': '40px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class=" text-center">
        <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '20', 'height': '20px', 'background-color': '#FFFFFFF'}"></ngx-skeleton-loader>
    </div>
</div>