<div class="space-50"></div>
<div class="card mt-5 me-3 ms-3">
    <div class="card-header">  
        <h5 class="card-title">Dashboard</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


        <div class="sc-4b5bd72e-1 dQYSjC">
            <div class="sc-4b5bd72e-2 bDucSm">
                <div class="sc-4b5bd72e-3 iIGxeC">
                    <article class="sc-4b5bd72e-5 eUSHHM">
                        <h1 lang="es" class="sc-4b5bd72e-8 cSRCOV"><span>Acceso seguro <span class="for">para</span></span><span
                                lang="es" class="sc-4b5bd72e-9 jPRgrv"><span lang="es" id="refBox1"
                                    class="sc-4b5bd72e-10 brnIcb" style="width: 197px;">
                                    <div><span class="sc-4b5bd72e-12 gZZOrJ slide-enter-done">todos<span
                                                class="sc-4b5bd72e-11 iPFXLT"></span></span></div>
                                </span></span></h1>
                        <h1 lang="es" class="sc-4b5bd72e-8 lpnLYL">Pero no para<span class="sc-4b5bd72e-9 eQDNSn"><span
                                    lang="es" id="refBox2" class="sc-4b5bd72e-10 heyILs" style="width: 326px;">
                                    <div><span class="sc-4b5bd72e-12 lfbhkL slide-enter-done">cualquiera<span
                                                class="sc-4b5bd72e-11 iPFXLT"></span></span></div>
                                </span></span></h1>
                    </article>
                    <div class="sc-4b5bd72e-13 eDGjNz">
                        <div class="sc-b09085f5-0 ezSyc">
                            <form autocomplete="on" __bizdiag="0" __biza="W___">
                                <fieldset class="styled__Wrapper-sc-1ekpay5-0 eJIQpY">
                                    <div class="styled__WrapperInput-sc-1ekpay5-2 hWZsXm"><input id="homepage-email-form"
                                            data-element-id="nonISPEmailForm" aria-label="Email de trabajo" type="text"
                                            placeholder="Email de trabajo" aria-describedby=""
                                            class="styled__Input-sc-1ekpay5-1 hoqkwS" value=""></div><button type="submit"
                                        class="styled__Button-sc-1hwml9q-0 utils-sc-11hlfw-0 lpvcZN kHaByn"><span>Comenzar</span></button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div><img src="https://cdn.auth0.com/website/website/homepage/hero/login-box.svg" alt="Login-box"
                    data-element-id="staticLoginBox" class="sc-4b5bd72e-4 fPBzgt">
            </div>
        </div>
    </div>
</div>
