<div class="page-content">
    <div class="container-fluid dashboard-scrollable">  
        <div class="row">
            <div class="col-xxl-9">
                <div class="row">
                    <app-dashboard-header  
                        [dateFilter]="dateFilter"
                        [kpiCards]="kpiCards"
                        [loading]="loading"
                        (dateChange)="onDateChange($event)">
                    </app-dashboard-header>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-3">Revenue chart</h5>
                            </div>
                        </div>
                        <app-skelleton-bar-revenue-chart *ngIf="loading && !revenueChart"></app-skelleton-bar-revenue-chart>
                        <app-bar-revenue-chart *ngIf="!loading && revenueChart" [revenueChart]="revenueChart"></app-bar-revenue-chart>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <app-revenue-activity 
                            [revenueActivity]="revenueActivity"
                            [loading]="loading">
                        </app-revenue-activity>
                    </div>
                    <div class="col-lg-4">
                        <app-booking-stats 
                            [orderStats]="orderStats"
                            [loading]="loading">
                        </app-booking-stats>
                    </div>
                    <div class="col-lg-4">
                        <app-top-products 
                            [topServices]="topServices"
                            [loading]="loading">
                        </app-top-products>
                    </div>
                </div>

            </div>
            <div class="col-xxl-3">
                <app-stylist-resume></app-stylist-resume>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <app-payments-list></app-payments-list>
            </div>
        </div>
    </div>
</div>