
<div class="calendar-canvas calendar-body mt-4 no-border no-box-shadow animated fadeIn fast">
    <div class="calendar-container">
        <table class="calendar-table mt-1">
            <tbody>
                <tr class="time-row"  *ngFor="let hour of getHoursRange()">
                    <td class="day-cell" 
                        *ngFor="let space of spaces" 
                        [attr.data-hour]="hour" 
                        [attr.data-space]="space.id"
                        
                        (click)="openBookingModal(space.id, hour)">
                        <div class="cell-content">
                            <!-- <div class="cell-content-inner" *ngIf="itsCentralSpace(space)">
                                <img [src]="chairImg" alt="Chair" class="chair-img">
                            </div> -->

                            <div class="cell-content-inner" *ngIf="itsCentralSpace(space, hour)">
                                <img width="80px" height="80px" [src]="chairImg" alt="Chair" class="chair-img">
                            </div>
                        
                        </div>
                    </td>
                    <th class="time-hedaer-space"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

