<div class="card animated fadeIn fast">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title">{{title}}</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <br>
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6">
                <br>
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
            </div>
            <div class="col-md-6">
                <br>
                <ngx-skeleton-loader [count]="1" [theme]="{ 'border-radius': '10', height: '40px', 'background-color': '#FFFFFFF' }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>